<launch>
  <arg name="dataset_name" value="Real"/>
  <arg name="online" default="true" />

  <!-- Set log_output to true and KimeraVIO will log output of all modules to
       the log_output_path location. -->
  <arg name="log_output" default="false"/>
  <arg name="log_output_path"
       default="$(find kimera_vio_ros)/output_logs/$(arg dataset_name)"
       if="$(arg log_output)"/>
  <!-- Set to true and specify gt_topic if you want to log ground-truth data -->
  <arg name="log_gt_data" default="false"/>
  <arg name="gt_topic"    default="uav1/kimera_vio_ros/odom"/>

  <!-- Set should_use_sim_time to true if you use rosbag with clock argument -->
  <arg name="should_use_sim_time" default="true"/>  <!-- try false?? -->

  <!-- Only used when parsing a rosbag -->
  <arg name="rosbag_path" default="default.bag"
       unless="$(arg online)"/>

  <!-- If true, KimeraVIO will enable the LoopClosureDetector module. -->
  <arg name="use_lcd"   default="false"/>
  <arg name="visualize" default="true"/>
  <arg name="viz_type"  default="0"/> <!-- 0: 2d3d_mesh, 1: pointcloud -->

  <!-- Parameters are in ~/kimera_ws/src/Kimera-VIO-ROS/params/Sim/ -->
  <!-- Using default vocab ~/kimera_ws/src/Kimera-VIO/vocabulary/ORBvoc.yml -->

  <!-- Use CameraInfo topics to get parameters, instead of yaml files -->
  <arg name="use_online_cam_params" value="false"/>
  <!-- Gives errors when unused Right cam has the same params -->
  <!-- It seems that it reads yaml also in "true"?? But combines with cinfo -->

  <!-- Args for mapped topics from the mrs simulation -->
  <arg name="uav_name" default="$(env UAV_NAME)"/> 
  <arg name="ts_m_topic" default="$(arg uav_name)/timestamp_manager"/>
  <arg name="uav_cam" default="$(arg uav_name)/vio/camera"/>
    <!-- note: use "$(arg uav_name)/rgbd/color" .......... for normal simulation 
                   "$(arg uav_name)/vio/camera" .......... for sim with vio setup 
                   "$(arg uav_name)/fisheye_undisotrt" ... for sim with undist img. -->

  <!-- Launching the timestamp manager for correcting the 
       image, camera info and imu topics externally or here -->
  <arg name="using_extern_ts_m" value="true"/>
  <group unless="$(arg using_extern_ts_m)">
    <node 
      pkg="my_ros_package" 
      name="kimera_timestamp_manager"
      type="timestamp_manager"     
      args="$(arg uav_cam) -d real -k real -r -m equidistant -f camera"
      output="screen"
    /> <!-- Can it run with unless as the first arg wihtout group?? --> 
  </group>

  <!-- Subscribed Topics, TODO: namapovat spravny topicy -->
  <arg name="left_cam_topic"        default="/$(arg ts_m_topic)/image_raw"/>
  <arg name="left_cam_info_topic"   default="/$(arg ts_m_topic)/camera_info"/>
  <arg name="right_cam_topic"       default="/$(arg ts_m_topic)/image_raw"/>
  <arg name="right_cam_info_topic"  default="/$(arg ts_m_topic)/camera_info"/>
  <arg name="imu_topic"             default="/$(arg ts_m_topic)/imu/data"/>

  <!-- Empty string ("") means no ground-truth available. Used for init if
   requested to do ground-truth initialization. -->
  <arg name="use_odom" value="true"/>
  <arg name="odometry_ground_truth_topic"   default="/vins_estimator/odometry"
       if="$(arg use_odom)"/> 
  <arg name="odometry_ground_truth_topic"   default=""
       unless="$(arg use_odom)"/>

  <!-- Frame IDs -->
  <arg name="world_frame_id"     value="kimera/world"/>
  <arg name="base_link_frame_id" value="kimera/body"/>
  <arg name="map_frame_id"       value="kimera/map"/>
  <arg name="left_cam_frame_id"  value="kimera/left_cam"/>
  <arg name="right_cam_frame_id" value="kimera/right_cam"/>

  <!-- Launch actual pipeline -->
  <include file="$(find kimera_vio_ros)/launch/kimera_vio_ros.launch"
    pass_all_args="true"/>

  <!-- Launch static TF node to connect Kimera and Simulation tf trees -->
  <node 
    name="my_w_to_cw" 
    pkg="tf2_ros" 
    type="static_transform_publisher" 
    args="0 0 0 0 0 0 world 
                      kimera/world"
  /> 
</launch>
